#################################################################
# bcl2fastq
#
# :Parameters:
#
#   intensities are expected to be found in input_directory/Data/Intensities
#   Base call data are to be found in input_directory/Data/Intensities/BaseCalls
#
#   if merge_all_lanes is set to True, merged all lanes. This must be used with
#   NextSeq sequencers for instance.
#

input_directory: "%(input_directory)s"


bcl2fastq:
    threads: 4
    barcode_mismatch: 0
    sample_sheet_file: "SampleSheet.csv"
    output_directory: "fastq"
    ignore_missing_controls: true
    ignore_missing_bcls: true
    no_bgzf_compression: true
    options: ""
    merge_all_lanes: False
    write_fastq_reverse_complement: False

onsuccess:
    toclean: " slurm*out demultiplex.rules config.yaml stats.txt "

